In [1]:
import pandas as pd

In [4]:
comments_dates = pd.read_pickle('comments_dates.pkl')

In [7]:
comments_dates

,comments,dates
0,[I noticed that the recent October 2022 iZEV e...,"[Oct 29, 2021, Nov 23, 2021, Thursday at 8:54 ..."
1,[How accurate are the Tesla delivery estimates...,"[Wednesday at 8:29 PM, Thursday at 8:38 AM, Th..."
2,[Anyone want to place betting odds on a Biden ...,"[Jan 19, 2021, Jan 19, 2021, Jan 19, 2021, Jan..."
3,[SouthernDude said: ↑\nProbably not. They prob...,"[Feb 17, 2021, Feb 17, 2021, Feb 17, 2021, Mar..."
4,[I would like to configure my USB flash drive ...,"[Nov 16, 2021]"
...,...,...
296,"[Originally, CEO Musk had said the target was ...","[Oct 4, 2017, Oct 8, 2017, Oct 8, 2017, Oct 14..."
297,[Not many Model 3 cars have been delivered yet...,"[Oct 13, 2017, Oct 13, 2017, Oct 14, 2017]"
298,[Anyone knows this link? I love to play with o...,"[Oct 8, 2017, Oct 8, 2017, Oct 10, 2017, Oct 1..."
299,[Good news! The first 2nd hand Tesla Model 3 i...,"[Oct 11, 2017, Oct 11, 2017, Oct 11, 2017, Oct..."
300,"[It's only running at 1/10th speed, according ...","[Oct 9, 2017]"

In [8]:
name_dates = pd.read_pickle('name_dates.pkl')

In [9]:
name_dates

                                                 names                   date
0    More price increases for Tesla Model 3 ( Canada )           Oct 29, 2021
1            Deposit refund for Tesla if a long delay?   Wednesday at 8:29 PM
2                         EV federal credit expansion?           Jan 19, 2021
3          Can I integrate a custom bot into my Tesla?           Nov 16, 2021
4           What happens 10 to 15 years down the road?            Oct 4, 2021
..                                                 ...                    ...
263                  Model 3 September production miss           Oct 18, 2017
264           Orange you glad this isn't your Model 3?            Oct 4, 2017
265                       Link to build Model 3 online           Oct 13, 2017
266  Tesla Model 3 appears on Craigslist for $150,0...            Oct 8, 2017
267  Elon posts first video of Model 3 production line           Oct 11, 2017

[268 rows x 2 columns]

In [12]:
random_comments = comments_dates.sample(100)

In [14]:
random_comments.to_csv('random_comments.csv')